@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{

font-family: "Nunito Sans", sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
border: 0;
outline: none;
transition: all .3s ease-in-out;

}


:root{

    --maincolor: #ed8e09;
    --secendcolor: #fff;
    --textcolor: #000;
    --secendtextcolor: #fff;
    --tresatextcolor: #fff;
    --box-bg: #fcf0de;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 10%);
    --exo: "Exo 2", sans-serif;
    --ows: "Oswald", sans-serif;
    --rob: "Roboto Mono", sans-serif;

    transition: all 0.5s ease; 

}


html {

    scroll-behavior: smooth;

}


body{

background: var(--secendcolor);

}

/*-----------------------------------------------Preloader------------------------------------------*/

.preloader{

position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 1000;
display: none;

}


.leftslidebox{

position: fixed;
right: 0;
top: 0;
width: 100%;
height: 100%;
background: linear-gradient(45deg, rgba(255, 255, 255, 0) 50%, var(--box-bg) 50%);
transition: top 3s ease, right 3s ease;

}

.rightslidebox{

position: fixed;
left: 0;
bottom: 0;
width: 2000px;
height: 100%;
background: linear-gradient(-135deg, rgba(255, 255, 255, 0) 50%, var(--box-bg) 50%);
transition: left 3s ease, bottom 3s ease;
    
}


.preloader--animation .leftslidebox{

right: -100%;
        
}

.preloader--animation .rightslidebox{

left: -100%;
            
}

.hiden{

display: none;

}


.preloader__loader, .preloader__percents, .preloader__logo{

position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.preloader__logo{

top: 38%;

}


.preloader__logo a{

color: var(--maincolor);
font-size: 3rem;
cursor: pointer;
font-weight: bold;
font-family: "Kanit", sans-serif;
    
}
    
    
.preloader__logo i{
    
color: var(--maincolor);
font-size: 3.2rem;
        
}

.preloader__percents{

font-family: var(--rob);
font-size: 24px;
font-weight: bold;
    
}

.preloader--hide{

display: none;

}
    



@keyframes ldio {

0% { transform: translate(-50%,-50%) rotate(0deg); }
100% { transform: translate(-50%,-50%) rotate(360deg); }

}

.ldio div {
position: absolute;
width: 120px;
height: 120px;
border: 20px solid #ed8e09;
border-top-color: transparent;
border-radius: 50%;

}

.ldio div {

animation: ldio 1s linear infinite;
top: 100px;
left: 100px

}
  
.loadingio-spinner-rolling {

width: 200px;
height: 200px;
display: inline-block;
overflow: hidden;
background: rgba(255, 255, 255, 0);

}

.ldio{

width: 100%;
height: 110%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0;
 
}

.ldio div { 

box-sizing: content-box; 

}


/*-----------------------------------------------Header/Nav------------------------------------------*/

header{

border-bottom: var(--maincolor) solid .2rem;
padding: 2rem;
box-shadow: var(--box-shadow);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 2;
background: var(--secendcolor);
opacity: 0; 
transform: translateY(-20px); 
position: fixed;
top: 0;
left: 0;
transition: opacity 1.5s ease, transform 1.5s ease, top 0.5s ease;
z-index: 4;
width: 100%;

}

header:hover{

position: fixed;
top: 0;

}


header.fade-down {

opacity: 1;
transform: translateY(0);

}

.logo a{

color: var(--maincolor);
font-size: 1.5rem;
cursor: pointer;
font-weight: bold;
font-family: "Kanit", sans-serif;

}


.logo i{

color: var(--maincolor);
font-size: 1.7rem;
    
}


.navmenu a{

color: var(--maincolor);
margin-left: 1rem;
font-weight: 700;
background: var(--box-bg);
padding: .5rem;
outline: none;

}

.navmenu i{

color: var(--maincolor);
margin-left: 1rem;
font-weight: 700;
background: var(--box-bg);
padding: .7rem;
outline: none;
cursor: pointer;
    
}

/*-----------------------------------------------Login------------------------------------------*/

#login {

position: fixed;
bottom: 0;
left: 0;
z-index: 6;

}

.slidebutton {

background-color: var(--maincolor);
padding: 0;
position: absolute;
bottom: .5rem;
left: .5rem;
z-index: 5;
text-align: center;
width: 2rem;
height: 2rem; 
display: flex;
align-items: center; 
justify-content: center; 
cursor: pointer;
overflow: hidden;

}

.slidebutton p {

color: var(--maincolor);
font-weight: bold;
position: absolute;
left: -2rem;
    

}


.slidebutton i {

color: var(--box-bg);
font-size: 2rem;
border-radius: var(--radius); 
width: 100%; 
height: 100%; 

}

.slidebutton:hover {

background-color: var(--box-bg);
padding-left: 3.5rem;
width: 5.5rem;

}

.slidebutton:hover i {

color: var(--maincolor);

}

.slidebutton:hover p{

position: absolute;
left: 1rem;

}

.slidebutton.slideopen{ 

background-color: var(--box-bg);
padding-left: 3.5rem;
width: 5.5rem;
z-index: 6;
    
}

.slidebutton.slideopen i{ 

color: var(--maincolor);

}

.slidebutton.slideopen p{

position: absolute;
left: 1rem;   

}

.login-form{

display: none; 
position: fixed;
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%);
width: 400px; 
height: 500px; 
background: var(--secendcolor);
border: 2px solid var(--maincolor);
overflow-y: auto; 
z-index: 7;
text-align: right;
    
}

.loginclosetag{

display: flex;
justify-content: right;
align-items: center;

}

.formClose i{

font-size: 2rem;
padding: .3rem .5rem;
color: #F90000;
cursor: pointer;

}


.logoform h3{

color: var(--maincolor);
font-size: 2.5rem;
cursor: default;
font-weight: bold;
font-family: "Kanit", sans-serif;
    
}
    
    
.logoform i{
    
color: var(--maincolor);
font-size: 2.7rem;
cursor: default;     

}


.login-form.loginOpen, #overlay.overlayOpenlog, #overlay.overlayOpenat{

display: block;

}


.loginstyle{

display: flex;
align-items: center;
width: 100%;
height: auto;
flex-direction: column;
margin-top: 2rem;
}


.loginstyle form{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 3rem;
    
}

.user, .key{

display: flex;
justify-content: center;
align-items: center;
margin-bottom: 2rem;
width: 250px;
height: 50px;

}

.user input, .key input{

background: #CBCBCB;
width: 100%;
height: 100%;

}

.user i, .key i{

color: #474747;
font-size: 1.3rem;
background: #CBCBCB;
height: 100%;
padding: .9rem;
cursor: default;

}


.loginstyle button{

background: var(--box-bg);
padding: 1rem 2rem;
font-size: 1.3rem;
cursor: pointer;
font-weight: bold;
font-family: var(--exo);
color: var(--maincolor);

}


#overlay {

display: none; 
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); 
z-index: 5; 

}

/*-----------------------------------------------FAQ------------------------------------------*/


#faq{

text-align: center;
margin-top: 2rem;
}


.uzraksts h3{

color: var(--maincolor);
font-weight: bold;
font-family: var(--rob);
font-size: 2rem;
padding: 2rem;
background: var(--box-bg);
border-radius: var(--radius);

}


.faqflex{

display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}


.faqbox{

width: 600px;
height: 100px;
box-shadow: var(--box-shadow);
margin: 1rem;
text-align: center;

}


.jaunumijaut{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100px;
     color: var(--maincolor);
     background: var(--box-bg);
     font-family: var(--rob);
     width: 100%;
    
}

.jaunumiatb{
     display: flex;
     opacity: 0;
     justify-content: center;
     align-items: center;
     height: 100px;
     font-family: var(--exo);
     width: 100%; 
    }

.faqbox:hover .jaunumiatb{
    opacity: 1;
    transition: opacity  2s ease ;

}

.faqbox:hover{
    height: auto;
    transform: height  1s ease ;
}


/*-----------------------------------------------Social------------------------------------------*/


#social h3{

text-align: center;
color: var(--maincolor);
background: var(--box-bg);
border-radius: var(--radius);
padding: 2rem;
font-size: 1.5rem;
margin-top: 5rem;

}


.socflex{

display: flex;
justify-content: center;

}


.socbox{

transform:
    rotateX(51deg)
    rotateZ(25deg);
transform-style: preserve-3d;
border-radius: 32px;
box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;
background: var(--box-bg);
border: none;
width: 80px;
height: 80px;
margin: 0 3rem;
margin-top: 5rem;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

}


.socbox i{

color: var(--maincolor);
font-size: 4rem;
transform: rotateX(-90deg)translateY(-2rem);

}


.socbox:hover{

transform: scale(1);
box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(237, 142, 9, 0.3),
    0 0 20px rgba(237, 142, 9, 0.3);

}

.socbox:hover i{

transform: scale(0.7);

}

/*-----------------------------------------------Card------------------------------------------*/


.line{

width: 10px;
height: 500px;
background: var(--box-bg);
position: fixed;
right: 8rem;
top: 13rem;

}


.circle{

width: 40px;
height: 40px;
background: var(--box-bg);
border-radius: 100%;
position: fixed;
right: 7.05rem;
top: 12rem;
display: flex;
justify-content: center;
align-items: center;

}

.circle p{

color: var(--maincolor);
font-weight: bold;

}

#card{

display: none; 

}



#circle2{

position: fixed;
right: 7.05rem;
top: 22rem;

}

#circle3{

    position: fixed;
    right: 7.05rem;
    top: 32rem;
    
}


#circle4{

    position: fixed;
    right: 7.05rem;
    top: 42rem;
    
}



.circlehead{

width: 40px;
height: 40px;
background: var(--maincolor);
border-radius: 100%;
position: fixed;
right: 7.05rem;
top: 12rem;
    
}


.messege{

position: fixed;
right: 3rem;
top: 15.7rem;
width: 90px;
height: 30px;
border: .2rem solid var(--maincolor);
border-radius: 2rem;
transform: rotateZ(55deg);
opacity: 1;
transition: top .5s ease-in-out, right .5s ease-in-out, opacity .5s ease-in-out, transform .5 ease-in-out;

}



.messege p{

color: var(--maincolor);
font-weight: bold;
text-align: center;

}

/*-----------------------------------------------Footer------------------------------------------*/


footer{

position: relative;
padding: 3rem;
color: var(--box-bg);
background: var(--maincolor);
font-size: 1.2rem;
font-family: var(--exo);
text-align: center;
overflow: hidden;

}

.lefttree{

position: absolute;
width: 50%;
height: 100%;
bottom: -3rem;
left: 0;

}

.lefttree img{

position: absolute;
width: 100%;
height: 130%;
bottom: 0;
left: 0;
opacity: 0.3;

}

#rotateleft{

transform: rotateY(180deg) translateX(-50px);

}


.righttree img{

position: absolute;
width: 50%;
height: 130%;
bottom: -3rem;
right: 0;
opacity: 0.3;
transform: rotateY(0deg) translateX(-50px);

}

#rotateright{

transform: rotateY(0deg) translateX(100px);
    
}
